<h1>Formularios en Angular</h1>
<p>Como trabajar con formularios sencillos en angular</p>

<form (ngSubmit)="onSubmit()" #form="ngForm">
    <p>
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" 
        required minlength="3" maxlength="40"
        #nombreField="ngModel"/>

        @if(nombreField.invalid && nombreField.touched){
            <div class="invalido">
                El nombre es incorrecto, hazlo bien.

                @if(nombreField.errors?.['required']){
                    <span>Rellena el nombre</span>
                }

                @if(nombreField.errors?.['minlenth']){
                    <span>Tu nombre es muy corto</span>
                }

                @if(nombreField.errors?.['maxlength']){
                    <span>Tu nombre es muy largo</span>
                }
            </div>
        }

    </p>

    <p>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" [(ngModel)]="email" 
        required email #emailField="ngModel"/>

         @if(emailField.invalid && nombreField.touched){
            <div class="invalido">
                El email es incorrecto, hazlo bien.
            </div>
        }

    </p>

    <p>
        <label for="edad">Edad:</label><br>
        <input type="number" id="edad" name="edad" [(ngModel)]="edad" 
         min="18" max="100" #edadField="ngModel"/>

        @if(edadField.invalid && edadField.touched){
            <div class="invalido">
               Tu edad es incorrecta    
            </div>
        }

    </p>

    <p>
        <label for="password">Nombre:</label><br>
        <input type="password" id="password" name="password" [(ngModel)]="password" 
        required minlength="7"/>
    </p>

    <button type="submit" [disabled]="!form.valid">Enviar</button>
</form>

<hr>

<p>Nombre: {{nombre}}</p>
<p>Email: {{email}}</p>