
      <h1>{{titulo}}</h1>
      <p>{{descripcion}}</p>
      <!-- <mi-producto></mi-producto> -->
       <!-- <app-usuario></app-usuario> -->

       <!-- <app-ventas></app-ventas> -->

       <!-- <app-cine></app-cine> -->

       <!-- <app-carrito></app-carrito> -->

       <!-- <app-carrito-signals></app-carrito-signals> -->

       <!-- <app-padre></app-padre> -->

       <!-- <app-usuarios-http></app-usuarios-http> -->

      <!-- <hr>
      <a href="">Inicio</a> &nbsp;
      <a href="">Componentes</a> &nbsp;
      <a href="">Plantillas</a> &nbsp;
      <hr> -->

      <hr>
      <a routerLink="/inicio" routerLinkActive="activarLink">Inicio</a> &nbsp;
      <a routerLink="/componentes" routerLinkActive="activarLink">Componentes</a> &nbsp;
      <a routerLink="/ciclo" routerLinkActive="activarLink">Hooks</a> &nbsp;
      <a routerLink="/plantillas" routerLinkActive="activarLink">Plantillas</a> &nbsp;
      <a routerLink="/directivas" routerLinkActive="activarLink">Directivas</a> &nbsp;
      <a routerLink="/modelos" routerLinkActive="activarLink">Modelos</a> &nbsp;
      <a routerLink="/carrito" routerLinkActive="activarLink">Carrito</a> &nbsp;
      <a routerLink="/signals" routerLinkActive="activarLink">Señales</a> &nbsp;
      <a routerLink="/comunicacion" routerLinkActive="activarLink">Comunicacion</a> &nbsp;
      <a routerLink="/servicios" routerLinkActive="activarLink">Servicios y HTTP</a> &nbsp;
      <a routerLink="/formularios" routerLinkActive="activarLink">Formularios</a> &nbsp;
      <hr>


      <router-outlet>
            <!--aqui dentro va el componente vinculado a la ruta actual-->
      </router-outlet>